<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<ad name="ConsumerLoanContext" connectionString="data source=STUART;initial catalog=ConsumerLoan;integrated security=SSPI;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />-->
    <add name="ConsumerLoanContext" connectionString="data source=Sql2.dfcu.com\Web,1434;initial catalog=ConsumerLoan;user id=consumerloan;password=XZcPc79fDCgWqULhhBC3xE5bvcky4W6u;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConsumerLoanSQL3" connectionString="data source=SQL3.dfcu.com\Los;initial catalog=AkcelerantPF;user id=DEVELOPER_DFCU;password=Nucu7jUM9FVVX5Bvr74mWUuzY3Rx3c;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--Temones-->
    <add name="ConsumerLoanOracle" connectionString="Password=bPdRLcwh9UCYZkG97EEB;User ID=ORADEV;Data Source=192.168.19.221:1521/PROD;" />
    <!--CORE-->
  </connectionStrings>
</configuration>